* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 100vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.map {
	width: 100%;
	height: 100%;
}

select {
	display: block;
}

#config-container {
	max-height: 100dvh;
	display: flex;
	flex-direction: column;
	gap: 0.2em;
	padding: 1em;
	background-color: white;
}

.config-group {
	flex-basis: fit-content;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0.5em 0.5em;
	border: 1px solid grey;
	border-width: 1px 0 1px 0;
	border-radius: 0.2em;
}

select {
	margin-top: 0.75em;
	padding: 0.2em 0.8em;
	border-radius: 2em;
}

option {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
	visibility: hidden;
}

#popup {
	z-index: 1;
	background-color: white;
	border: 1px solid black;
	border-radius: 0.5em;
	padding: 0.3em 0.6em;
	margin-bottom: 1em;
}
#popup::after {
	content: "";
	position: absolute;
	bottom: 6px;
	left: 50%;
	margin-left: -10px;
	border-width: 10px 10px 0 10px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

#popup:hover {
	cursor: pointer;
}

#poi-results {
	flex-basis: fit-content;
	flex-grow: 1;
	padding: 0.5em 0;
	overflow-y: hidden;
}
#estadio {
	margin-bottom: 0.2em;
}

#poi-container {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	max-height: 100%;
	overflow-y: auto;
	margin-top: 0.6em;
}

.poi {
	background-color: rgb(101, 105, 182);
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	gap: 0.2em;
	border-radius: 0.2em;
	color: white;
	border: 1px solid rgb(101, 105, 182);
}

.poi:hover {
	background-color: white;
	color: rgb(68, 70, 194);
	border: 1px solid rgb(68, 70, 194);
	cursor: pointer;
}

.poi-titulo {
	font-size: 0.8em;
}
.poi-categoria {
	font-size: 0.7em;
	font-style: italic;
}

/*Filtros*/
#filters-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-height: 300px;
	overflow-y: auto;
	gap: 0.5em;
	margin-bottom: 0.5em;
}
.filter {
	background-color: rgb(101, 105, 182);
	color: white;
	display: flex;
	gap: 0.3em;
	padding: 0.3em 0.5em;
}
.filter > input {
	margin-right: 5px;
}

#filters-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background-color: white;
	border: 1px solid black;
	border-radius: 0.2em;
	padding: 0.5em;
}

#address-popup {
	z-index: 2;
	background-color: white;
	border: 1px solid black;
	border-radius: 0.5em;
	padding: 0.3em 0.6em;
	margin-bottom: 1em;
}
#address-popup::after {
	content: "";
	position: absolute;
	bottom: 6px;
	left: 50%;
	margin-left: -10px;
	border-width: 10px 10px 0 10px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

#address-popup:hover {
	cursor: pointer;
}

#starting-points-container {
	flex-basis: fit-content;
	flex-grow: 0;
	flex-shrink: 0;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 300px;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
#starting-point-form {
	flex-basis: fit-content;
	flex-grow: 0;
	flex-shrink: 0;
}

.starting-point {
	border: 1px solid grey;
	padding: 0.2em 0.5em;
}
.starting-point:hover {
	cursor: pointer;
	background-color: gray;
}
