*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.map{
    width: 100%;
    height:100%;
}

select{
    display: block;
    margin: 0.2em;
}

#config-container{
    padding: 1em;
    background-color: white;
}

#config-container>h1{
    margin-bottom: 1em;
}

.config-group{
    padding: 0.5em 0.5em;
    border: 1px solid grey;
    border-width: 1px 0 1px 0 ;
    border-radius: 0.2em;
}

select{
    margin-top: 0.75em;
    padding: 0.2em 0.8em;
    border-radius: 2em;
}

option{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden{
    display: none;
}

#popup{
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.3em 0.6em;
    margin-bottom: 1em;
}

#popup:hover{
    cursor: pointer
}

#poi-results{
    padding: 1em 0;
}
#estadio{
    margin-bottom: 0.5em;
}

#poi-container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#poi{
    background-color: rgb(101, 105, 182);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 0.5em;
    color: white;
}

#poi:hover{
    background-color: white;
    color:rgb(68, 70, 194);
    border: 1px solid rgb(68, 70, 194);
}

#poi-titulo{
    font-size: 1em;
}